@import '../../../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.promoNotice {
  margin-top: 18px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.form {
  flex-grow: 1;
}

.priceCurrencyInvalid {
  color: var(--colorFail);
}
